github "ReactorKit/ReactorKit"
github "ReactiveX/RxSwift" ~> 4.0
github "apollostack/apollo-ios"
github "onevcat/Kingfisher" ~> 4.0
github "HeroTransitions/Hero"
github "xmartlabs/XLPagerTabStrip" ~> 8.1
