github "apollostack/apollo-ios"
github "onevcat/Kingfisher" "5.5.0"
github "HeroTransitions/Hero"
github "xmartlabs/XLPagerTabStrip"
github "SnapKit/SnapKit"
github "malcommac/SwiftDate"
github "slackhq/PanModal"
github "pkluz/PKHUD"
github "stephencelis/SQLite.swift"
