<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Options</key>
	<array>
		<dict>
			<key>NotPersisted</key>
			<string>YES</string>
			<key>Default</key>
			<string></string>
			<key>Type</key>
			<string>text</string>
			<key>Description</key>
			<string>The name of the class to create</string>
			<key>Name</key>
			<string>Reactor: </string>
			<key>Required</key>
			<string>YES</string>
			<key>Identifier</key>
			<string>productName</string>
		</dict>
	</array>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>A reactor file</string>
	<key>Summary</key>
	<string>A reactor file</string>
	<key>SortOrder</key>
	<string>1</string>
	<key>AllowedTypes</key>
	<array>
		<string>public.swift-source</string>
	</array>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___Reactor.swift</string>
</dict>
</plist>
