<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Licenses</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.portannict.LicensePlist/apollo-ios</string>
			<key>Title</key>
			<string>Apollo</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.portannict.LicensePlist/Fluxer</string>
			<key>Title</key>
			<string>Fluxer</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.portannict.LicensePlist/InflectorKit</string>
			<key>Title</key>
			<string>InflectorKit</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.portannict.LicensePlist/Kingfisher</string>
			<key>Title</key>
			<string>Kingfisher</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.portannict.LicensePlist/PathKit</string>
			<key>Title</key>
			<string>PathKit</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.portannict.LicensePlist/SkeletonUI</string>
			<key>Title</key>
			<string>SkeletonUI</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.portannict.LicensePlist/Spectre</string>
			<key>Title</key>
			<string>Spectre</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.portannict.LicensePlist/SQLite.swift</string>
			<key>Title</key>
			<string>SQLite.swift</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.portannict.LicensePlist/Starscream</string>
			<key>Title</key>
			<string>Starscream</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.portannict.LicensePlist/Stencil</string>
			<key>Title</key>
			<string>Stencil</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.portannict.LicensePlist/swift-nio-zlib-support</string>
			<key>Title</key>
			<string>swift-nio-zlib-support</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.portannict.LicensePlist/swift-snapshot-testing</string>
			<key>Title</key>
			<string>SnapshotTesting</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.portannict.LicensePlist/SwiftDate</string>
			<key>Title</key>
			<string>SwiftDate</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.portannict.LicensePlist/SwiftUIX</string>
			<key>Title</key>
			<string>SwiftUIX</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
